.signUp {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    // display: inline-block;
  }

  &__mainImg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 50%;
    &_bg {
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #F5FBFF;
        z-index: -1;
      }

    }
  }
}

.form {
  &__wrapper {
    display: flex;
    justify-content: end;
    width: 50%;
  }
  display: flex;
  flex-direction: column;
  width: 366px;
  margin-right: 120px;
  

  &__heading {
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 32px;
  }

  &__link {
    text-align: center;
    font-size: 14px;
    color: #707070;

    a {
      color: #E4163A;
    }
  }
}