.signUp {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-right: 234px;

  &__heading {
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 32px;
  }

  &__link {
    text-align: center;
    font-size: 14px;
    color: #707070;

    a {
      color: #E4163A;
    }
  }
}
