.pagination {
  user-select: none;
  display: flex;
  // align-items: center;
  gap: 20px;
  list-style: none;
  font-weight: 500;

  li {
    color: #707070;

    a {
      display: inline-block;
      text-align: center;
      padding: 10px 15px;
      cursor: pointer;
    }
  }

  :global {
    .selected {
      background-color: #E4163A;
      color: white;
      border-radius: 4px;
    }
  }

}

