.addBtn {
  width: 104px;
  padding: 11px 17px 12px 6px;
  border-radius: 4px;
  background-color: #E4163A;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

// @media screen and (max-width: 870px) {
//   .addBtn {
//     height: 40px;
//   }
// }
@media screen and (max-width: 650px) {
  .addBtn {
    width: 100%;
  }
}