.password {
    label {
      display: inline-block;
      font-size: 13px;
      margin-bottom: 8px;
    }

    .inputBlock {
      position: relative;

      input {
        display: block;
        width: 100%;
        padding: 13.5px 0;
        background-color: #F6F6F6;
        outline: none;
        border: none;
        border-radius: 4px;
        transition: 0.3s;

        &:hover {
          background-color: #D1D1D1;
          border: none
        }

        &:focus {
          background: #F6F6F6;
          box-shadow: 0px 0px 5px #D9D9D9;
          border: none;
        }

      }
    }


  &__svg {
    &__opened {
      position: absolute;
      width: 15px;
      height: 15px;
      top: 13px;
      right: 17px;
      cursor: pointer;
      user-select: none;

    }

    &__closed {
      position: absolute;
      width: 17px;
      height: 17px;
      top: 12px;
      right: 16px;
      cursor: pointer;
      user-select: none;

    }
  }

  &__error {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    color: #FF768E;
  }
}