.notFound {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    text-align: center;
  }

  &__img {
    margin-bottom: 48px;
  }

  &__heading {
    margin-bottom: 24px;
    color: #FF768E;
    font-weight: 700;
    font-size: 36px;
  }

  &__text {
    color: #707070;
    font-size: 24px;
    font-weight: 400;
  }
}

@media screen and (max-width: 650px) {
  .notFound {
    &__wrapper {
      div {
        p {
          img {
            width: 271px;
            height: 147px;
          }
        }
        h1 {
          font-size: 25px;
        }
      }
    }
    &__text {
      font-size: 17px;
    }
  }
}