.empty {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    text-align: center;
    background-color: white;
    border-radius: 15px;

    img {
      margin-bottom: 35px;
    }

    p {
      font-family: 'Avenir', sans-serif;
      line-height: 49px;
      color: #FF768E;
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 24px;
    }

    span {
      font-weight: 400;
      font-size: 24px;
      color: #707070;
    }
  }

}

@media screen and (max-width: 800px) {
  .empty__container {
    img {
      width: 264px;
      height: 243px;
    }
    p {
      font-size: 30px;
    }
    span {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 650px) {
  .empty__container {
    margin-top: 20px;
    img {
      margin-bottom: 0;
    }
  }
}
@media screen and (max-width: 500px) {
  .empty__container {
    padding: 30px 40px;
  }
}