.setImage {
  label {
    margin-bottom: 5px;
  }

  p {
    position: relative;
    background: url('../../assets//icons/svgAdd.svg') no-repeat center;
    width: 336px;
    height: 261px;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.5s;

    &::before {
      content: "";
      background: url('../../assets//icons/svgAdd.svg') no-repeat center;
      background-color: #9C9C9C;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      opacity: 0.3;
      transition: 0.5s;
      z-index: 9;
    }

    &:hover {
      background-color: #9C9C9C;
      opacity: 1;
      z-index: 1000;
      transition: 0.5s;

      &::before {
        content: "";
        background: url('../../assets//icons/svgAdd.svg') no-repeat center;
        background-color: #9C9C9C;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 9;
      }

    }

    img {
      width: 336px;
      max-height: 261px;
      border-radius: 15px;
    }
  }
}

.error {
  display: block;
  font-size: 12px;
  // margin-top: 5px;
  color: #FF768E;
}


input[type='file'] {
  display: none;
}


@media screen and (max-width: 1250px) {
  .setImage {
    p {
      width: 185px;
      height: 145px;

      img {
        width: 185px;
        height: 145px;
      }
    }
  }
}