.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // width: 364px;
  height: 383px;
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Avenir', sans-serif;

  img {
    display: block;
    margin-top: 65px;
    margin-bottom: 70px;
    width: 150px;
    height: 150px;
  }

  p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
  }

  span {
    font-size: 14px;
    color: #9C9C9C;
  }

  div {
    text-align: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #303030;
    border-radius: 4px;

    p {
      span {
        font-size: 18px;
        color: #FF5761;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 170px;
    height: 180px;

    img {
      margin-top: 20px;
      margin-bottom: 0px;
      width: 120px;
      height: 90px;
    }

    div {
      padding-top: 10px;
      padding-bottom: 10px;
      p {
        font-size: 15px;
      }
    }

  }
}