.search {
  &__input {
    position: relative;
    width: 365px;
    
    
    input {
      width: 100%;
      padding: 11.5px 12px;
      outline: none;
      border: 0.5px solid #D1D1D1;
      border-radius: 4px;
    }
    
    svg {
      position: absolute;
      top: 12px;
      right: 12px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .search {
    &__input {
      width: 200px;
    }
  }
}
@media screen and (max-width: 870px) {
  .search {
    &__input {
      width: 150px;
    }
  }
}

@media screen and (max-width: 650px) {
  .search {
    &__input {
      width: 100%;
      margin-bottom: 16px;
    }
  }
}