.form {
  &__group {
    margin-bottom: 25px;
    margin-top: 0;
  }

  &__label {
    display: inline-block;
    font-size: 13px;
    margin-bottom: 8px;
  }

  &__input {
    display: block;
    width: 366px;
    margin-bottom: 5px;
    height: 40px;
    background-color: #F6F6F6;
    outline: none;
    border: none;
    border-radius: 4px;
    transition: 0.3s;

    &:hover {
      background-color: #D1D1D1;
      border: none
    }

    &:focus {
      background: #F6F6F6;
      box-shadow: 0px 0px 5px #D9D9D9;
      border: none;
    }
  }

  &__submitBtn {
    width: 366px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #E4163A;
    color: white;
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 8px;
    cursor: pointer;
    transition: 0.3s;

    &_hover {
      &:hover {
        background-color: #FF5761;
      }

      &:active {
        background-color: #C60E2E;
      }
    }

    &__disabled {
      background-color: #F6F6F6;
      color: #D1D1D1;
      cursor: auto;
    }
  }

  &__error {
    display: block;
    font-size: 12px;
    color: #FF768E;
  }
}

.checkbox {
  &__label {
    font-size: 14px;
    margin-bottom: 8px;
    cursor: pointer;

    &_error {
      display: block;
      color: #E4163A;
      margin-bottom: 5px;
    }
  }

  &__input {
    appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 2px;
    margin: 0px 10px 0 0;
    border: 1px solid #9b8e8e;
    outline: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      border: 1.5px solid #E4163A;
    }

    &_checked {
      background-color: #E4163A;
      position: relative;

      &::before {
        content: '\2713';
        margin-top: 3px;
        font-size: 10px;
        font-weight: bold;
        color: white;
        position: absolute;
        right: 1px;
        top: -5px;
      }
    }
  }
}

.inputBlock {
  position: relative;
}

.password {
  &__eye {
    &__closed {
      position: absolute;
      width: 17px;
      height: 17px;
      top: 12px;
      right: 10px;
      cursor: pointer;
      user-select: none;
    }

    &__opened {
      position: absolute;
      width: 15px;
      height: 15px;
      top: 13px;
      right: 11px;
      cursor: pointer;
      user-select: none;
    }

  }
}
