.menu__button {
  cursor: pointer;
  transition: 0.2s;
  width: 61px;

  &_hovered {
    &:hover {
      color: #FF768E;

      svg path {
        fill: #FF768E;
        transition: 0.2s;
      }
    }
  }

  &_selected {
    color: #E4163A;

    svg path {
      fill: #E4163A;
      transition: 0.2s;
    }
  }

}

@media screen and (max-width: 650px) {
  .menu__button {
    display: flex;
    align-items: center;
    width: 100px;
    svg {
      margin-right: 10px;
    }
  }
}