.header {
  &__wrapper {
    display: flex;
    width: 100%;
    padding: 18px 55px 18px 50px;
    box-shadow: 0px 1px 10px rgba(209, 209, 209, 0.5);
  }

  &__logo {
    width: 50%;
  }

  &__credentials {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;

    span {
      margin-right: 19px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}