.header {
  &__wrapper {
    display: flex;
    width: 100%;
    box-shadow: 0px 1px 10px rgba(209, 209, 209, 0.5);
    background-color: #fff;
  }

  &_toggle__button {
    visibility: hidden;
  }

  &__logo {
    width: 50%;

    p {
      padding-left: 80px;
    }
  }

  &__credentials {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;

    span {
      margin-right: 19px;
      font-size: 14px;
      font-weight: 500;
    }

    svg {
      padding-right: 50px;
    }
  }
}

@media screen and (max-width: 650px) {
  .header {
    &__wrapper {
      width: 100%;
      // justify-content: center;
      align-items: center;
    }
    
    &_toggle__button {
      visibility: visible;
      button {
        padding-left: 80px;
        appearance: none;
        border: none;
        background-color: white;
        cursor: pointer;
      }
    }

    &__logo {
      display: flex;
      justify-content: center;

      p {
        padding-left: 0;
      }
    }

    &__credentials {
      display: none;
    }
  }
}