.checkbox {

  &__label {
    font-size: 14px;
    cursor: pointer;

    &_error {
      color: #E4163A;
    }
  }

  &__input {
    appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 2px;
    margin: 0px 10px 0 0;
    border: 1px solid #9b8e8e;
    outline: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      border: 1.5px solid #E4163A;
    }

    &_checked {
      background-color: #E4163A;
      position: relative;

      &::before {
        content: '\2713';
        margin-top: 3px;
        font-size: 10px;
        font-weight: bold;
        color: white;
        position: absolute;
        right: 1px;
        top: -5px;
      }
    }
  }

  &__error {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    color: #FF768E;
  }
}