* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'AvenirMedium', Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
