// SignIn & SignUp
.auth {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    // position: fixed;
  }

}

.form {
  display: flex;
  flex-direction: column;
  width: 366px;
  margin-right: 120px;

  &__wrapper {
    display: flex;
    justify-content: end;
    width: 50%;
  }

  &__heading {
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 32px;
  }

  &__link {
    text-align: center;
    font-size: 14px;
    color: #707070;

    a {
      color: #E4163A;
    }
  }
}

@media screen and (max-width: 1050px) {
  .form {
    margin-right: 0;
    &__wrapper {
      display: flex;
      justify-content: center;
    }
  }
}