// SignIn & SignUp
.auth {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
  }

  &__background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 50%;

    &_img {
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #F5FBFF;
        z-index: -1;
      }

    }


  }

  &__error {
    position: absolute;
    top: 36px;
    right: 36px;
    border-radius: 4px;
    padding: 10px 15px;
    color: white;
    background-color: #FF5761;

    &_show {
      animation: fadeInUp 0.5s ease backwards;

      @keyframes fadeInUp {
        0% {
          transform: translate(50px, 0px);
          opacity: 0;
        }

        100% {
          transform: translate(0px, 0);
          opacity: 1;
        }
      }
    }

    &_hide {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 2s, opacity 2s linear;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 366px;
  margin-right: 120px;

  &__wrapper {
    display: flex;
    justify-content: end;
    width: 50%;
  }

  &__heading {
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 32px;
  }

  &__link {
    text-align: center;
    font-size: 14px;
    color: #707070;

    a {
      color: #E4163A;
    }
  }
}