.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-right: 120px;

  &__wrapper {
    display: flex;
    justify-content: end;
    width: 50%;
  }

  &__group {
    height: 95px;
  }

  &__heading {
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 32px;
  }

  &__error {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    color: #FF768E;
  }
}

@media screen and (max-width: 1050px) {
  .form {
    margin-right: 0;

    &__wrapper {
      display: flex;
      justify-content: center;
      width: auto;
    }
  }
}