.menu {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;

    span {
      display: block;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    padding-top: 35px;
  }

  &__block {
    height: 80px;
    font-size: 14px;
    width: 55px;

    &:nth-child(3) {
      position: absolute;
      bottom: 0px;
    }
  }

}

@media screen and (max-width: 650px) {
  .menu {
    &__close {
      display: none;
    }
  }
}