.common {
  // teams and players header with search and AddBtn
  &__container {
    width: 100%;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  // teams and players filled content
  &__filled_content {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    flex-wrap: wrap;
    &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 364px;
      margin-bottom: 20px;
      background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
      border-radius: 4px;
      cursor: pointer;
      font-family: 'Avenir', sans-serif;
      img {
        display: block;
        margin-top: 65px;
        margin-bottom: 70px;
        width: 150px;
        height: 150px;
      }
      p {
        margin: 0;
        margin-bottom: 10px;
        font-size: 18px;
        color: white;
      }
      span {
        font-size: 14px;
        color: #9C9C9C;
      }
      div {
        text-align: center;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #303030;
        border-radius: 4px;
      }
    }
  }
// teams and players Empty
  &__empty_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    // background-color: yellow;
    &__container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 560px;
      height: 570px;
      text-align: center;
      background-color: white;
      border-radius: 15px;

      img {
        margin-bottom: 35px;
      }

      p {
        font-family: 'Avenir', sans-serif;
        line-height: 49px;
        color: #FF768E;
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 24px;
      }

      span {
        font-weight: 400;
        font-size: 24px;
        color: #707070;
      }
    }

  }
}