.common {

  // teams and players header with search and AddBtn
  &__container {
    width: 100%;
    min-height: calc(100vh - 116px);
    height: fit-content;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    // height: 40px;

    &__group {
      display: flex;
    }
  }

  // teams and players filled content
  &__filled_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 32px;
    overflow-y: auto;
    height: calc(100vh - 290px);
  }

  // teams and players Empty
  &__empty_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 157px);
  }

  // create for teams and players

  &__create {
    width: 100%;
    // height: calc(100vh - 84px);
    background-color: #fff;
    border-radius: 10px;
    // height: fit-content;


    &__content {
      display: flex;
      margin-top: 48px;
      margin-left: 73px;
      form {
        display: flex;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    &__image {
      // width: 30%;
      margin-right: 136px;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
    }

    &__groupParameters {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    // align-items: center;
  }

  &__details {
    .common__header {
      background-color: white;
      border-radius: 10px 10px 0px 0px;

      svg {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .common {
    &__create {
      &__content {
        margin: 0;
        // flex-direction: column;
        justify-content: center;

        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: fit-content;
        }
      }

      &__image {
        margin-right: 0;
      }
    }
    &__pagination {
      margin-top: 35px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .common {
    &__filled_content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 870px) {
  .common {
    &__filled_content {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: 650px) {
  .common {
    &__container {
      height: calc(100vh - 95px);
    }
    &__header {
      flex-direction: column;

      &__group {
        flex-direction: column;
        margin-bottom: 16px;
      }
    }

    &__filled_content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
      margin-top: 16px;
      margin-bottom: 20px;
      max-height: calc(100vh - 390px);
    }

    &__empty_content {
      align-items: start;
      // padding-top: 20px;
      height: calc(100vh - 235px);
    }

    &__pagination {
      position: fixed;
      width: 100%;
      bottom: 0;
      right: 5px;
    }
  }
}

@media screen and (max-width: 410px) {
  .common {
    &__filled_content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

}
@media screen and (max-width: 395px) {
  .common {
    &__filled_content {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }

}