.common {

  // teams and players header with search and AddBtn
  &__container {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &__group {
      display: flex;
    }
  }

  // teams and players filled content
  &__filled_content {
    display: flex;
    padding-top: 32px;
    flex-wrap: wrap;
    gap: 55.5px;

    &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex-basis: 364px;
      background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
      border-radius: 4px;
      cursor: pointer;
      font-family: 'Avenir', sans-serif;

      img {
        display: block;
        margin-top: 65px;
        margin-bottom: 70px;
        width: 150px;
        height: 150px;
      }

      p {
        margin: 0;
        margin-bottom: 10px;
        font-size: 18px;
        color: white;
      }

      span {
        font-size: 14px;
        color: #9C9C9C;
      }

      div {
        text-align: center;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #303030;
        border-radius: 4px;
      }
    }
  }

  &__player {
    p {
      span {
        font-size: 18px;
        color: #FF5761;
      }
    }
  }

  // teams and players Empty
  &__empty_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;

    // background-color: yellow;
    &__container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 560px;
      height: 570px;
      text-align: center;
      background-color: white;
      border-radius: 15px;

      img {
        margin-bottom: 35px;
      }

      p {
        font-family: 'Avenir', sans-serif;
        line-height: 49px;
        color: #FF768E;
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 24px;
      }

      span {
        font-weight: 400;
        font-size: 24px;
        color: #707070;
      }
    }

  }

  // create for teams and players

  &__create {
    width: 100%;
    height: 650px;
    background-color: #fff;
    border-radius: 5px;

    &__content {
      display: flex;
      padding: 48px 230px 48px 73px;
    }

    &__image {
      margin-right: 136px;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      // margin-top: 20px;

      button {
        width: 171px;
        height: 40px;
        background-color: white;
        border: 1.5px solid #9C9C9C;
        font-weight: 500;
        font-size: 15px;
        color: #9C9C9C;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: #D1D1D1;
          color: white;
        }

        &:active {
          background-color: #9C9C9C;
          color: white;
        }
      }

      input {
        width: 175px;
        margin: 0px;
      }
    }

    &__groupParameters {
      display: flex;
      justify-content: space-between;

      input {
        width: 171px;
      }
    }
  }
  &__pagination {
    display: flex;
    justify-content: space-between;
  }
}