.select {

  label {
    display: inline-block;
    font-size: 13px;
    margin-bottom: 8px;
  }

  &__multi {
    width: 364px;
    margin-left: 24px;
  }

}

// MEDIA

@media screen and (max-width: 1150px) {
  .select {
    &__multi {
      width: 200px;
    }
  }
}
@media screen and (max-width: 870px) {
  .select {
    &__multi {
      width: 150px;
    }
  }
}

@media screen and (max-width: 650px) {
  .select {
    &__multi {
      width: 100%;
      margin-left: 0px;
      // margin-bottom: 16px;
    }
  }
}
